*{
  color: white;
  margin:0;
  padding:0;
}

body {
  height: auto;
  width: 100vw;
  background-color:black;
}

img.background-img{
  width: 100%; 
}

img.promo{
  padding:0;
  margin:0;
  width:40%;
}

h1{
  padding:0;
  margin:0;
  color: red;
  font-family: Nosifer;
  font-size: 3.5rem;
}

h2 {
  text-align: center;
  font-size: .9rem;
  border-bottom: solid 1px white;
  padding: 5px;
}

p.info {
  text-align: center;
  font-size: 1.2rem;
  color: red;
  text-shadow: 1px 1px darkgray;
  padding: 10px;
}

p.main {
  text-align:center;
  font-size: 1rem;
  text-shadow: 1px 1px red;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .7fr 0.15fr 1fr 1fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
      "resident_banner resident_banner resident_banner"
      "capcom_price capcom_price capcom_price"
      "Promo-1 Promo-1 Promo-1"
      "Promo-2 Promo-2 Promo-2"
      "copyright copyright copyright";
  }

.resident_banner { 
  grid-area: resident_banner; 
  border-bottom: solid 1px white;
}

.capcom_price { 
  grid-area: capcom_price;
}

.Promo-1 { 
  display:grid;
  grid-area: Promo-1; 
  border-bottom: solid 1px white;
  place-items:center;
}

.Promo-2 { 
  grid-area: Promo-2; 
  border-bottom: solid 1px white;
}

.copyright { 
  display:grid;
  grid-area: copyright; 
  place-items:center;
}
